<div>
    <table class="gamestats">
        <tr>
            <td>conten strike</td>
            <td class="playercount">2.1k</td>
        </tr>
        <tr>
            <td>prosekai</td>
            <td class="playercount">0.9k</td>
        </tr>
        <tr>
            <td>overwatch (bruh)</td>
            <td class="playercount">one</td>
        </tr>
        <tr>
            <td>call of duty: modern warfare 3 remake remastered</td>
            <td class="playercount">one</td>
        </tr>
    </table>
</div>