p {
    font-size: 16px;
}

body {
    font-family: "Yu Gothic UI", sans-serif;
    color: #FFFFFF;
    background-color: #202020;
}

a {
    color: red;
}

.mainPage {
    margin: auto;
    width: max(800px, 50%);
    background: #00000040;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    overflow: auto;
}

.navBar {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    background-color: #00000040;
    overflow: auto;
    vertical-align: center;
}

.buttonmainstyle {
    padding: 5px;
    background-color: #000000A0;
    border: 1px solid #FFFFFF40;
    border-radius: 3px;
    width: 10%;
    color: white;
    transition: 200ms;
}

.buttonmainstyle:hover {
    background-color: #FFFFFF30;
}
.buttonmainstyle:active {
    background-color: #FFFFFFFF;
    color: black;
}

.navbarbutton {
    float:right;
}

.leftrect {
    width: 43%;
    float:left;
}

.rightrect {
    float: right;
}

.gamestats {
    width: 100%;
    margin: auto;
}

.gamestats td {
    padding: 3px;
    background-color: #ffffff30;
}

.gamestats .playercount {
    width: 18%;
}

.gamestats a {
    color: white;
}

.submitform {
    margin-left: 5%;
    background-color: #00000030;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formtextinput {
    background-color: transparent;
    border: 1px solid #FFFFFF40;
    border-radius: 3px;
    color: white;
}

.formtexthalfwidth {
    width: 25%;
}

.formtextfullwidth {
    width: 50%;
}