<!DOCTYPE html>
<html>
    <head>
        <title>[akari] error</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'teamfinder/style.css' %}">
    </head>
    <body>
        <div class="mainPage">
            {% include "teamfinder/panel_navbar.html" %}

            <!--<h1 style="font-size: 50px; margin-bottom:0px;">Akari <span style="font-size:30px; vertical-align: top;">あかり (codename)</span></h1>
            <h3>Team finder for gamers</h3>-->
            <h1>Error</h1>
            <h3>The page you entered does not exist.</h3>

            <br>
        </div>
    </body>
</html>