<!DOCTYPE html>
<html>
    <head>
        <title>[app] submit new</title>
        {% load static %}
        {% load template_filters %}
        <link rel="stylesheet" href="{% static 'teamfinder/style.css' %}">
    </head>
    <body>
        <div class="mainPage">
            {% include "teamfinder/panel_navbar.html" %}

            <h1>Submit your information for {{game.name}}</h1>
            <br>
            <div class="submitform">
                <form method="POST">
                    {% csrf_token %}
                    Player name: <input class="formtextinput formtexthalfwidth" type="text" id="player_name" name="player_name"/>
                    <br>
                    {% if game.hasUserLink %}
                    Player URL: <input class="formtextinput formtextfullwidth" type="text" id="player_url" name="player_url"/>
                    {% endif %}
                    <br><br>
                    {% if game.nDataFields >= 1 %}
                    {{game.dataFields|get_item:'data1'|get_item:'dataName'}}: <input class="formtextinput formtexthalfwidth" type="text" id="data1" name="data1"/>
                    {% endif %}
                    <br><br>
                    <input class="buttonmainstyle" type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </body>
</html>